<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/form.css">
  </head>
  <body>
    <div>
      <form id="log-form">
        <input type="text" placeholder="Name" id="LName">
        <input type="submit" value="Login">
      </form>
    </div>
    <a href="sign">Sign Up</a>
    <script src="../js/login.js"></script>
  </body>
</html>