<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../css/form.css">
  </head>
  <body>
    <div>
      <form id="sign-form">
        <input type="text" placeholder="Name" id="Sname">
        <input type="submit" value="Sign Up">
      </form>
    </div>
    <a href="login">Login</a>
    <script src="../js/sign.js"></script>
  </body>
</html>