<html>
<head>
  <meta charset="UTF-8">
  <title>Made by Justus Stüer Inc.</title>
</head>
<body>
  <div id="KitsP">
  </div>
  <img id="calc" src="../img/Calculate Button" alt="Calculate Button" onclick="calculate()">
  <img src="../img/erstellen" alt="Kits Erstellen" onclick="window.location.replace('/')">
  <div id="list">
  </div>
  <div id="wep">
  </div>

    <script src="../js/cal.js"></script>
</body>
</html>