<html>
<head>
  <meta charset="UTF-8">
  <title>Made by Justus Stüer Inc.</title>
</head>
<body>
    Roll Ins.<input type="number" id="roll"><br/>
    Extra Ins.<input type="number" id="extra"><br/>
    <button id="gen" onclick="addFields()">Generate Input Fields</button>
    <div id="container">
    </div>
    <button id="ord" onclick="order()">Generate Weapon/Spell</button>
    <br>
    <br>
    <p>Added Weapons/Spells</p>
    <div id="stage">
    </div>

    Kit Name<input type="text" id="Nkit">
    <button id="Skit" onclick="addkit()">Submit Kit</button>
    <br>
    <img src="../img/kits_buton.png" alt="To Kits" onclick="window.location.replace('/cal')">

    <script src="../js/main.js"></script>
</body>
</html>